.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

    .bg {
        width: 65%;
        height: 100%;
        background-image: url('../../../../public/bg-image-1.avif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form-container {
        width: 35%;
        height: 100%;
        color: #000;

        .form-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            height: 100%;
            padding: 2rem;
            background: linear-gradient(to top, #000000a9, #000000a9, #000000a9);
            color: #fff;

            h2 {
                text-align: left;
                margin-bottom: 1rem;
                font-size: 2.5rem;
                font-weight: 700;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

                i {
                    font-size: 3rem;
                    margin-right: 0.5rem;
                    color: rgb(28, 216, 57);
                }
            }


            form {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                input {
                    padding: 1.3rem 1rem;
                    border-radius: 1rem;
                    background-color: rgb(255, 255, 255);
                    backdrop-filter: blur(10px);
                    outline: 0px solid rgb(13, 198, 41);
                    border: none;
                    transition: all 0.5s ease;
                }

                input:focus {
                    outline: 3px solid rgb(28, 216, 57);
                    transform: scale(1.02);
                }

                button {
                    padding: 1.2rem 1rem;
                    border: none;
                    border-radius: 1rem;
                    background-color: rgb(10, 173, 35);
                    color: #fff;
                    cursor: pointer;
                    font-weight: 600;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-size: 1.1rem;
                    transition: all 0.3s ease;
                }

                button:hover {
                    background-color: rgb(28, 216, 57);
                    color: #fff;
                }

                .password-wrapper {
                    position: relative;
                    width: 100%;

                    input {
                        width: 100%;
                        padding-right: 3rem;
                    }

                    p {
                        position: absolute;
                        top: 50%;
                        right: 1rem;
                        transform: translateY(-50%);
                        margin: 0;
                        padding: 0;
                        width: auto;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            font-size: 1.5rem;
                            font-weight: 400;
                            color: #777;
                            cursor: pointer;
                        }
                    }
                }

            }

            p {
                margin-top: 1rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 600;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #ebe8e8;
            }

            p a {
                color: rgb(28, 216, 57);
                text-decoration: none;
                font-weight: 700;
                cursor: pointer;
            }

            .divider {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                margin-top: 1rem;
                width: 100%;

                .line {
                    width: 40%;
                    height: 0.05rem;
                    background-color: #5b58587b;
                }

                p {
                    color: #ebe8e8;
                    margin-top: 0;
                    font-size: 1.2rem;
                    font-weight: 600;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }
        }
    }
}