.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151414b0;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 20;
    color: #fff;
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;

    .loginLoader{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        height: 3rem;

        .line {
            width: 6px;
            height: 10px;
            background-color: rgb(28, 216, 57);
            border-radius: 4px;
            animation: load 1s ease-in-out infinite;

            &:nth-child(1) {
                animation-delay: 0.0s;
            }

            &:nth-child(2) {
                animation-delay: 0.1s;
            }

            &:nth-child(3) {
                animation-delay: 0.2s;
            }

            &:nth-child(4) {
                animation-delay: 0.3s;
            }

            &:nth-child(5) {
                animation-delay: 0.4s;
            }
        }
    }

    .registerLoader{    
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        height: 3rem;

        .line {
            width: 6px;
            height: 10px;
            background-color: rgb(26, 83, 230);
            border-radius: 4px;
            animation: load 1s ease-in-out infinite;

            &:nth-child(1) {
                animation-delay: 0.0s;
            }

            &:nth-child(2) {
                animation-delay: 0.1s;
            }

            &:nth-child(3) {
                animation-delay: 0.2s;
            }

            &:nth-child(4) {
                animation-delay: 0.3s;
            }

            &:nth-child(5) {
                animation-delay: 0.4s;
            }
        }
    }

    p {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transform: translateY(20px);
        opacity: 0;
        animation: slideUp 0.5s ease-out 0.2s forwards;
    }

    .loginTimer {
        font-size: 1.6rem;
        margin-inline: 0.2rem;
        font-weight: 700;
        color: rgb(28, 216, 57);
    }

    .registerTimer {
        font-size: 1.6rem;
        margin-inline: 0.2rem;
        font-weight: 700;
        color: rgb(26, 83, 230);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {

    0%,
    100% {
        height: 10px;
        opacity: 0.5;
    }

    50% {
        height: 30px;
        opacity: 1;
    }
}