*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root{
    width: 100%;
}

html{
    background-color: #1C1C1C;
    color: #f3f3f3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px; 
}
body::-webkit-scrollbar-track {
    background-color: #000000;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #323131;
    border: 2px solid #000000; 
}